In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score,classification_report

In [3]:
df = pd.read_csv('BostonHousing.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       501 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [5]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [6]:
df.tail()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [7]:
df.shape

(506, 14)

In [8]:
df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,501.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284341,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.705587,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.884000,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208000,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.625000,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [9]:
df.dtypes

crim       float64
zn         float64
indus      float64
chas         int64
nox        float64
rm         float64
age        float64
dis        float64
rad          int64
tax          int64
ptratio    float64
b          float64
lstat      float64
medv       float64
dtype: object

In [10]:
df.isna().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         5
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [11]:
means = df.mean()
means

crim         3.613524
zn          11.363636
indus       11.136779
chas         0.069170
nox          0.554695
rm           6.284341
age         68.574901
dis          3.795043
rad          9.549407
tax        408.237154
ptratio     18.455534
b          356.674032
lstat       12.653063
medv        22.532806
dtype: float64

In [12]:
df.fillna(value=means, inplace=True)
print(df.isnull().sum())

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

NOW SEPARATE THE X AND Y (dependent,independent).Here we seperate the first 13 columns in X and the last column to be predicted as Y.

In [13]:
df.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [14]:
X = df[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
Y = df['medv']

We separate the dataset in training data(75%) and testing data(25%).So we have inbuilt mthod in sklearn

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.25, random_state = 42)

In [16]:
X_train

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
182,0.09103,0.0,2.46,0,0.4880,7.155,92.2,2.7006,3,193,17.8,394.12,4.82
155,3.53501,0.0,19.58,1,0.8710,6.152,82.6,1.7455,5,403,14.7,88.01,15.02
280,0.03578,20.0,3.33,0,0.4429,7.820,64.5,4.6947,5,216,14.9,387.31,3.76
126,0.38735,0.0,25.65,0,0.5810,5.613,95.6,1.7572,2,188,19.1,359.29,27.26
329,0.06724,0.0,3.24,0,0.4600,6.333,17.2,5.2146,4,430,16.9,375.21,7.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,0.17120,0.0,8.56,0,0.5200,5.836,91.9,2.2110,5,384,20.9,395.67,18.66
270,0.29916,20.0,6.96,0,0.4640,5.856,42.1,4.4290,3,223,18.6,388.65,13.00
348,0.01501,80.0,2.01,0,0.4350,6.635,29.7,8.3440,4,280,17.0,390.94,5.99
435,11.16040,0.0,18.10,0,0.7400,6.629,94.6,2.1247,24,666,20.2,109.85,23.27
102,0.22876,0.0,8.56,0,0.5200,6.405,85.4,2.7147,5,384,20.9,70.80,10.63

Training model

In [142]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [143]:
y_pred = model.predict(X_test)
y_pred

array([28.82239584, 35.99603416, 15.09228245, 25.22034225, 18.87953301,
       23.21045939, 17.58938357, 14.29516645, 23.05962597, 20.60597442,
       24.79156482, 18.68781897, -6.97029537, 21.83401717, 19.20507393,
       26.27813307, 20.55086169,  5.66348432, 40.41183713, 17.64392229,
       27.30510418, 30.03661805, 11.14086477, 24.0914498 , 17.89366267,
       15.80205231, 22.94370814, 14.25673851, 22.26791641, 19.23579151,
       22.25904121, 25.22873441, 25.67890247, 18.00008838, 16.70518236,
       17.13274168, 31.18319423, 20.16619825, 23.71425877, 24.7786056 ,
       13.93555271, 31.98051639, 42.52615489, 17.44537599, 27.1307741 ,
       17.07962694, 13.88267891, 26.04977923, 20.37219815, 29.96892294,
       21.37151548, 34.31366662, 15.87099228, 26.15194641, 39.49293053,
       22.84450351, 18.95220195, 32.67601472, 25.00352327, 12.92044639,
       20.67837288, 30.54139508, 31.58535337, 15.90452705, 20.52706895,
       16.51387993, 20.4986864 , 25.9949182 , 30.62708393, 11.43313558,
       20.52847936, 27.56285765, 10.85306835, 15.98341973, 23.86842182,
        5.66419446, 21.45790602, 41.27110222, 18.55870022,  9.10009182,
       20.97669092, 13.06145524, 21.01248621,  9.34763448, 23.12906582,
       31.78982219, 19.10102537, 25.57623879, 29.13970987, 20.16918415,
       25.58097968,  5.20522737, 20.16633787, 15.09180847, 12.88579183,
       20.80741473, 24.68376669, -0.76799732, 13.33690195, 15.61891927,
       22.20011624, 24.57604373, 10.77905183, 19.4893846 , 23.23800179,
       11.77033442, 18.35489911, 25.42193401, 20.87981383, 24.10064283,
        7.36466825, 19.15421904, 21.92792631, 27.38632316, 32.49027919,
       14.87174688, 35.02399177, 12.85456759, 20.8142438 , 28.41670133,
       15.67730363, 24.66814714,  3.28649267, 23.79235367, 25.72187428,
       23.03753525, 24.74374103])

In [144]:
print("Training accuracy is:")
model.score(X_train, y_train)

Training accuracy is:

0.7475676233088485

In [145]:
print("Testing accuracy is:")
model.score(X_test, y_test)

Testing accuracy is:

0.6831144311098856

actual_value,model_prediction

In [146]:
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mead squared Error is:")
print(rmse)

Root Mead squared Error is:
4.710689042447887

In [147]:
# Calculate R-squared (coefficient of determination)
r2 = r2_score(y_test, y_pred)
print("R-squared:", r2)

R-squared: 0.6831144311098856

In [149]:
#print(classification_report(y_test,y_pred))